* {
    font-family: 'Inter', sans-serif;
}

.fs-09 {
    font-size: 0.9rem;
}

/* MD */
@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
}

/* LG */
@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
}

html[data-bs-theme="dark"] html, html[data-bs-theme="dark"] body {
    background-color: rgb(0, 0, 0) !important;
}